body {
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background: grey;
  padding: 10px;
  margin: 20px;
  display:flex;
  justify-content: space-between;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

a {
  color:black;
}

.flex {
  padding: 10px;
  margin: 10px;
  display:flex;
}
/* Is this needed?
#row {
  flex-direction: row;
}*/

.name {
  justify-content: flex-start;
  padding: 10px;
  background-color: lightblue;
  color: red;
}

.nav {
  justify-content: flex-end;
}

.hero-banner {
  height: 100px;
  padding: 10px;
  margin: 20px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #8AA29E;
  display: flex;
  justify-content: flex-end;
}

.page-wrapper {
  /*height: 1100px;*/
  width: 90%;
  height: 90%;
  padding: 10px;
  margin: 20px;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #DB5461;
}

/* Put the grids for the 3 separate sections of About Me, Work and Contact Me, here*/

#about {
    margin: 20px;
    display: grid;
    border-style: solid;
    border-width: medium;
    border-color: black;
    background-color: #686963;
    grid-template-columns: 20% 80%;
    grid-template-areas:
    "AboutMe AboutMeContentArea AboutMeContentArea AboutMeContentArea AboutMeContentArea"
    ;
  }
  
  #About Me {
    grid-area: AboutMe;
  }

  #About Me Content Area {
    grid-area: AboutMeContentArea;
  }

  img {
    height: 100px;
  }

  #work {
    margin: 20px;
    display: grid;
    border-style: solid;
    border-width: medium;
    border-color: black;
    background-color: #8AA29E;
    /*height: 800px;*/
    width: 90%;
    height: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "Work WorkContentArea1 WorkContentArea1"
    "Work WorkContentArea1 WorkContentArea1"
    "Work WorkContentArea2 WorkContentArea3"
    ;
  }
  
  #Work {
    grid-area: Work;
  }

  #Week1 {
    grid-area: WorkContentArea1;
    background-image: url(./Assets/Images/digital-marketing-meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    border-style: solid;
    border-width: medium;
    border-color: black;
  }
  
  #Pre-Work {
    grid-area: WorkContentArea2;
    margin: 20px;
    background-image: url(./Assets/Images/Pre-work\ Study\ Guide.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: medium;
    border-color: black;
  }
  
  #Refresh {
    grid-area: WorkContentArea3;
    margin: 20px;
    background-image: url(./Assets/Images/online-reputation-management.jpg);
    background-size: cover;
    border-style: solid;
    border-width: medium;
    border-color: black;
  }

  #contact {
    margin: 20px;
    border-style: solid;
    border-width: medium;
    border-color: black;
    display: grid;
    background-color: #3D5467;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "Contact ContactContentArea"
    ;
  }
  
  #Contact {
    grid-area: Contact;
  }

  #Contact Content Area {
    grid-area: ContactContentArea;
  }

  .categoryGridArea ul {
    display: flex;
    justify-content: space-around;
  }

  li {
  padding: 0px;
  display: inline;
}

h2 {color: black}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  #work {
    margin: 20px;
    display: grid;
    border-style: solid;
    border-width: medium;
    border-color: black;
    background-color: #8AA29E;
    /*height: 800px;*/
    width: 90%;
    height: 90%;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Work"
    "WorkContentArea1"
    "Work WorkContentArea2"
    "Work WorkContentArea3"
    ;
  }

#contact {
  width: 90%;
  height: 90%;
}

.categoryGridArea ul {
  display: inline;
}
/*#contact ul {
  width: 90%;
  height: 90%;
}*/
}

@media only screen and (max-width: 480px) {
  #work {
    margin: 20px;
    display: grid;
    border-style: solid;
    border-width: medium;
    border-color: black;
    background-color: #8AA29E;
    /*height: 800px;*/
    width: 90%;
    height: 90%;
    grid-template-rows: 100px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "Work"
    "WorkContentArea1"
    "Work WorkContentArea2"
    "Work WorkContentArea3"
    ;
  }

#contact {
  width: 90%;
  height: 90%;
}

.categoryGridArea ul {
  display: inline;
}
}